*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('../assets/4.jpg'); */
    background: linear-gradient(to right, #FF7E5F, #ee95d3, rgb(164, 190, 228));
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    margin: 50px auto;
    background-color: #fff;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(12, 94, 247, 0.1);
}
li {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 18px;
    background-color: transparent;
    list-style: none;
}


h1 {
    text-align: center;
    margin-right: 50px;
    color: #9913b4;
    padding-bottom: 8px;

}

.form-container,.filter-container {
    margin-bottom: 20px;
    padding: 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input,select,button {
    margin-bottom: 10px;
    width: 760px;
    padding: 8px;
}

button {
    background-color: #9913b4;
    color: #fff;
    cursor: pointer;
    border: none;
    max-width: 150px;
    border-radius: 50px;
}

button:hover {
    background-color: #d650c4;
}

.balance {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-right: 50px;
}
 
/* */ 
.header{
  background-color: #fff; 

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px; 
    
}
.nav_item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.nav_item a {
    text-decoration: none;
    color: #333; 
}

.item {
    margin-top: 5px;
    margin-right: 20px;
}
.item:hover {
    color: #9913b4;
}
.logo {
    width: 80px; 
    height: auto;  
    padding-left: 20px;
}
@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    input, select, button {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        margin-right: 0;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    input, select, button {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav_item {
        margin: 10px 0;
    }
}